.lista {
    display: flex;
}

#check {
    display: none;
}

.navegacao .lista a {
    color: #fff;
}


.menu-drop:hover ul{
    display: block;
    background: darkorange;
    overflow: hidden;
    top: 70px;
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 15px #0004;
}

.menu-drop:hover ul li{
    width: 100%;
    background: darkorange;
    padding: 0px;
    margin: 3px;
}

/*background links */
.menu-drop:hover ul li a:hover{
    background: rgba(238, 159, 56, 0.932);
    
}

.menu-drop:hover ul li a{
    background: darkorange;
    font-size: 17px;
    color:#fff;
    
    text-align: center;
}


.checkbtn {
    font-size: 30px;
    color:#fff;
    float: right;
    line-height: 80px;
    margin-right: 40px; 
    display: none;   
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: rgb(12, 12, 12);
    height: 70px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 0 3px;
}


nav ul li a {
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

/*Responsividade para mobile*/
@media (max-width: 573px){
    .checkbtn{
        display: block;
    }
    .lista{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(228, 83, 30, 0.89);
        top: 200px;
        left: -100%;
        transition: all .5s;
        text-align: center;
        
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    #check:checked ~ ul {
        left: 0px;
    }
    .menu-drop:hover ul{
        display: block;
        background: darkorange;
        overflow: hidden;
        top: 70px;
        
        height: auto;
    }
}

/*@media (max-width: 573px){
    nav {
        position: fixed; 
        top: 133px;       
    }
}*/



