.app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px 60px 1fr 110px;
    grid-template-areas:
        "header"
        "nav"
        "conteudo"
        "footer";
    margin: 0px;
    
}



aside > header.header {
    grid-area: header;
    
}

aside.nav {
    grid-area: nav;
}

main.content {
    grid-area: conteudo;
}

footer.footer {
    grid-area: footer;
}
/*
@media (max-width: 573px){
    .app {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr 110px;
        grid-template-areas:
        "nav"
        "conteudo"
        "footer";
        margin: 0px;
    }
    aside.nav {
        grid-area: nav;
    }
    
    main.content {
        grid-area: conteudo;
    }
    
    footer.footer {
        grid-area: footer;
    }
}*/